.custom__arrow {
    border-radius: 0;
    background-color: transparent;
    padding: 0;
    width: 50px;
    height: 50px;

    & > svg {
        height: 100%;
        width: 100%;
        fill: #ECE8E1;
    }
}
